<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SystemOrgMapper" >
    <resultMap id="BaseResultMap" type="com.takata.system.org.domain.SystemOrg" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="parent_id" property="parentId" jdbcType="INTEGER" />
        <result column="company_id" property="companyId" jdbcType="INTEGER" />
        <result column="org_name" property="orgName" jdbcType="VARCHAR" />
        <result column="org_path_code" property="orgPathCode" jdbcType="VARCHAR" />
        <result column="org_type" property="orgType" jdbcType="INTEGER" />
        <result column="delete_state" property="deleteState" jdbcType="INTEGER" />
        <result column="create_by" property="createBy" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_by" property="updateBy" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, company_id, parent_id, org_name, org_path_code, org_type, delete_state, create_by, create_time,
        update_by, update_time
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.takata.system.org.domain.SystemOrg" >
        select
        <include refid="Base_Column_List" />
        from system_org
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.takata.system.org.domain.SystemOrg" useGeneratedKeys="true" keyProperty="id">
        insert into system_org
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="parentId != null" >
                parent_id,
            </if>
            <if test="companyId != null" >
                company_id,
            </if>
            <if test="orgName != null" >
                org_name,
            </if>
            <if test="orgPathCode != null" >
                org_path_code,
            </if>
            <if test="orgType != null" >
                org_type,
            </if>
            <if test="deleteState != null" >
                delete_state,
            </if>
            <if test="createBy != null" >
                create_by,
            </if>
            <if test="createTime != null" >
                create_time,
            </if>
            <if test="updateBy != null" >
                update_by,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="parentId != null" >
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="companyId != null" >
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="orgName != null" >
                #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgPathCode != null" >
                #{orgPathCode,jdbcType=VARCHAR},
            </if>
            <if test="orgType != null" >
                #{orgType,jdbcType=INTEGER},
            </if>
            <if test="deleteState != null" >
                #{deleteState,jdbcType=INTEGER},
            </if>
            <if test="createBy != null" >
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy != null" >
                #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.takata.system.org.domain.SystemOrg" >
        update system_org
        <set >
            <if test="orgName != null" >
                org_name = #{orgName,jdbcType=VARCHAR},
            </if>
            <if test="orgPathCode != null" >
                org_path_code = #{orgPathCode,jdbcType=VARCHAR},
            </if>
            <if test="deleteState != null" >
                delete_state = #{deleteState,jdbcType=INTEGER},
            </if>
            <if test="updateBy != null" >
                update_by = #{updateBy,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectAllSystemOrgList" resultType="java.util.HashMap">
        SELECT so.`id`,
        so.`parent_id` AS parentId,
        so.`org_type` AS orgType,
        so.`org_name` AS orgName
        FROM system_org so
        WHERE so.`delete_state` = '0'
    </select>

    <select id="selectSystemOrgList" resultType="java.util.HashMap" parameterType="com.takata.system.org.query.SystemOrgQuery">
        SELECT so.`id`,
        so.`parent_id` AS parentId,
        so.`org_type` AS orgType,
        so.`org_name` AS orgName
        FROM system_org so
        <where>
            so.`delete_state` = '0'
            <if test="companyId != null" >
                and so.company_id = #{companyId,jdbcType=INTEGER}
            </if>
            <if test="orgPathCode != null" >
                and so.org_path_code like concat(#{orgPathCode, jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="selectSystemOrgKirikaeList" resultType="java.util.HashMap">
        select so.`id`,
        so.`parent_id` as parentId,
        so.`org_name` as orgName,
        parent.`org_name` as parentOrgName
        from system_org so, system_org parent
        where so.`parent_id` = parent.`id`
        and so.`delete_state` = '0'
        and parent.`delete_state` = '0'
        and so.`org_type` = 3
        order by so.`parent_id`
    </select>
</mapper>