<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FourTemplateTacheManagerMapper" >
    <resultMap id="BaseResultMap" type="com.takata.four.tache.domain.FourTemplateTacheManager" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="tache_id" property="tacheId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
        id, tache_id, user_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from four_template_tache_manager
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insertSelective" parameterType="com.takata.four.tache.domain.FourTemplateTacheManager" >
        insert into four_template_tache_manager
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="tacheId != null" >
                tache_id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tacheId != null" >
                #{tacheId,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="com.takata.four.tache.domain.FourTemplateTacheManager" >
        delete from four_template_tache_manager
        where id = #{id,jdbcType=INTEGER}
    </delete>

</mapper>