<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AlterationKirikaeOrderProcedureMapper" >
  <resultMap id="BaseResultMap" type="com.takata.alteration.procedure.domain.AlterationKirikaeOrderProcedure" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="kirikae_order_id" property="kirikaeOrderId" jdbcType="INTEGER" />
    <result column="procedure_state" property="procedureState" jdbcType="INTEGER" />
    <result column="procedure_seq" property="procedureSeq" jdbcType="INTEGER" />
    <result column="delete_state" property="deleteState" jdbcType="INTEGER" />
    <result column="procedure_code" property="procedureCode" jdbcType="INTEGER" />
    <result column="procedure_type" property="procedureType" jdbcType="INTEGER" />
    <result column="procedure_by" property="procedureBy" jdbcType="INTEGER" />
    <result column="procedure_time" property="procedureTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kirikae_order_id, procedure_state, procedure_seq, delete_state, procedure_code, 
    procedure_type, procedure_by, procedure_time, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.takata.alteration.procedure.domain.AlterationKirikaeOrderProcedure" >
    select 
    <include refid="Base_Column_List" />
    from alteration_kirikae_order_procedure
    where id = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insertSelective" parameterType="com.takata.alteration.procedure.domain.AlterationKirikaeOrderProcedure" >
    insert into alteration_kirikae_order_procedure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kirikaeOrderId != null" >
        kirikae_order_id,
      </if>
      <if test="procedureState != null" >
        procedure_state,
      </if>
      <if test="procedureSeq != null" >
        procedure_seq,
      </if>
      <if test="deleteState != null" >
        delete_state,
      </if>
      <if test="procedureCode != null" >
        procedure_code,
      </if>
      <if test="procedureType != null" >
        procedure_type,
      </if>
      <if test="procedureBy != null" >
        procedure_by,
      </if>
      <if test="procedureTime != null" >
        procedure_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="kirikaeOrderId != null" >
        #{kirikaeOrderId,jdbcType=INTEGER},
      </if>
      <if test="procedureState != null" >
        #{procedureState,jdbcType=INTEGER},
      </if>
      <if test="procedureSeq != null" >
        #{procedureSeq,jdbcType=INTEGER},
      </if>
      <if test="deleteState != null" >
        #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="procedureCode != null" >
        #{procedureCode,jdbcType=INTEGER},
      </if>
      <if test="procedureType != null" >
        #{procedureType,jdbcType=INTEGER},
      </if>
      <if test="procedureBy != null" >
        #{procedureBy,jdbcType=INTEGER},
      </if>
      <if test="procedureTime != null" >
        #{procedureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.takata.alteration.procedure.domain.AlterationKirikaeOrderProcedure" >
    update alteration_kirikae_order_procedure
    <set >
      <if test="kirikaeOrderId != null" >
        kirikae_order_id = #{kirikaeOrderId,jdbcType=INTEGER},
      </if>
      <if test="procedureState != null" >
        procedure_state = #{procedureState,jdbcType=INTEGER},
      </if>
      <if test="procedureSeq != null" >
        procedure_seq = #{procedureSeq,jdbcType=INTEGER},
      </if>
      <if test="deleteState != null" >
        delete_state = #{deleteState,jdbcType=INTEGER},
      </if>
      <if test="procedureCode != null" >
        procedure_code = #{procedureCode,jdbcType=INTEGER},
      </if>
      <if test="procedureType != null" >
        procedure_type = #{procedureType,jdbcType=INTEGER},
      </if>
      <if test="procedureBy != null" >
        procedure_by = #{procedureBy,jdbcType=INTEGER},
      </if>
      <if test="procedureTime != null" >
        procedure_time = #{procedureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>